body {
    background-color: rgb(76, 47, 37);
}

hr {
    border: 1px solid rgb(167, 119, 95);
}

h1 {
    color: rgb(167, 119, 95);
    text-align: center;
}

p {
    color: rgb(167, 119, 95);
    text-align: center;
}

.courseForm form {
    display: flex;
    align-items: stretch; /* make items same height */
}

#addBTN {
    width: 30px;
    background-color: rgb(106, 136, 105);
    color: rgb(76, 47, 37);
    border-radius: 10px ;
    border: none;
    font-size: 20px;
}

input, #addBTN { /* set shared height for both elements */
    height: 30px;
    box-sizing: border-box;
    vertical-align: middle;
}

input {
    width: 300px;
    padding: 5px 5px;
    background-color: rgb(167, 119, 95);
    color: rgb(76, 47, 37);
    border: none;
}

input::placeholder {
    color: rgb(76, 47, 37);
}

#courseCode {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 

#courseName {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add-courses {
    display: flex;
    justify-content: center;
}

/* #course-container {
    display: flex;
} */

.course-box {
    display: flex;
    justify-content: center;
    align-items: center; /* center horizontally */
    text-align: center; /* center vertically */
    font-weight: bold;
    width: 200px; /* ensure div is square */
    height: 200px;
    color: rgb(76, 47, 37);
    border-radius: 15px; /* rounded corners */
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* adds shadow */
    margin: 10px; /* space between boxes */
}