body {
    background-color: rgb(76, 47, 37);
}

hr {
    border: 1px solid rgb(167, 119, 95);
}

h1 {
    color: rgb(167, 119, 95);
    text-align: center;
}

h3 {
    color: rgb(167, 119, 95);
}

p {
    color: rgb(167, 119, 95);
    text-align: center;
}

/* ========================================FORM======================================== */
#addBTN {
    width: 30px;
    background-color: rgb(167, 119, 95);
    color: rgb(76, 47, 37);
    border-radius: 10px ;
    border: none;
    font-size: 20px;
}

.courseForm form {
    display: flex;
    align-items: stretch; /* make items same height */
}

input, #addBTN { /* set shared height for both elements */
    height: 30px;
    box-sizing: border-box;
    vertical-align: middle;
}

input {
    width: 300px;
    padding: 5px 5px;
    background-color: rgb(167, 119, 95);
    color: rgb(76, 47, 37);
    border: none;
}

input::placeholder {
    color: rgb(76, 47, 37);
}

#courseCode {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 

#courseName {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add-courses {
    display: flex;
    justify-content: center;
}

/* ========================================COURSE BOXES======================================== */
.deleteBTN {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: rgb(76, 47, 37);
    border: none;
    font-size: 20px;
}

#course-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.course-box {
    display: flex;
    justify-content: center;
    align-items: center; /* center horizontally */
    text-align: center; /* center vertically */
    text-decoration: none; /* prevent link underline */
    font-weight: bold;
    width: 180px; /* ensure div is square */
    height: 180px;
    padding: 0px 10px;
    color: rgb(76, 47, 37);
    border-radius: 15px; /* rounded corners */
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* adds shadow */
    margin: 10px; /* space between boxes */
    position: relative; /* allow absolute positioning for child */
}

/* ========================================COURSEWORK TABLE======================================== */
#addworkBTN {
    background-color: rgb(167, 119, 95);
    color: rgb(76, 47, 37);
    border-radius: 5px ;
    border: none;
    font-size: 16px;
    margin: 10px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    border-bottom: 1px solid;
    padding: 0px 5px;
    width: 48%;
    color: rgb(167, 119, 95);
}

th {
    width: fit-content;
}